.list {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 20px;
}

.player {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.name {
  font-size: 1.5rem;
  font-family: "Roboto", sans-serif;
}

.subTitle {
    font-size: 1.5em;
    text-align: center;
    color: #5c5a5a;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    margin: 20px;
    padding: 0;
}
